{% extends "base.html" %}
{% block content %}
    <div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">База знаний
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Feature Row -->
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="#">Как перезагрузить модем</a>
            </p>
            <p>
                <a href="#">Не работает интернет</a>
            </p>
            <p>
                <a href="#">Не печатает принтер</a>
            </p>
            <p>
                <a href="#">Не открывается сетевой диск</a>
            </p>
            <p>
                <a href="#">Epson печатает с полосками</a>
            </p>
            <p>
                <a href="#">Не работает СОНО</a>
            </p>
            <hr>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}