body {
	padding-top: 0px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	background-color: yellowgreen;
	color: greenyellow;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}
.thead-inverse th {
	color: #fff;
	background-color: #373a3c;
}
.table-responsive {
	display: block;
	width: 100%;
	min-height: .01%;
	overflow-x: auto;
}
.custom-icon {
	margin-top: 5px;
	padding-top: 5px;
}
.jumbotron {
	padding-top: 10px;
	padding-bottom: 25px;
	margin-bottom: 25px;
	color: inherit;
	background-color: #eee;
}
.jumbotron h1,
.jumbotron .h1 {
	color: inherit;
}
.feature {
	background-color: yellowgreen;
	color: greenyellow;
}
.form-auth {
	height: 34px;
	width: 30%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.table-hover > tbody > tr:hover {
  background-color: #CBCBCB;
  color: black;
}

.th-button {
	color: white;
	font-weight: bold;
}
.th-button:hover {
	color: white;
	font-weight: bold;
}