{% extends "base.html" %}

{% block content %}
<!-- Content -->
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">Лоты &ndash; {{ subdiv }}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Feature Row -->
    <div class="row text-center">

        <div class="col-md-12">
            <p class="text-right">Всего {{ total }} <script>myText()</script></p>
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="text-center thead-inverse">
                    <th class="text-center" name="0"><button title="Сортировать" id="-lotnum" class="btn-link th-button" onclick="javascript:post('.', {order_by: '-lotnum'})">Номер</button></th>
                    <th class="text-center"><button title="Сортировать" id="title" class="btn-link th-button" onclick="javascript:post('.', {order_by: 'title'})">Название</button></th>
                    <th class="text-center"><button title="Сортировать" id="-price" class="btn-link th-button" onclick="javascript:post('.', {order_by: '-price'})">Цена</button></th>
                    <th class="text-center"><button title="Сортировать" id="city" class="btn-link th-button" onclick="javascript:post('.', {order_by: 'city'})">Город</button></th>
                    <th class="text-center col-md-1"><button title="Сортировать" id="start" class="btn-link th-button" onclick="javascript:post('.', {order_by: 'start'})">Начало</button></th>
                    <th class="text-center col-md-1"><button title="Сортировать" id="finish" class="btn-link th-button" onclick="javascript:post('.', {order_by: 'finish'})">Завершение</button></th>
                    <th class="text-center">
                        <p class="glyphicon glyphicon-trash custom-icon"></p>
                    </th>
                </thead>
                <tbody class="">
                    {% for lot in lots %}
                        <tr>
                            <td><a href="{{ lot.link }}" name="{{ forloop.counter }}">{{ lot.lotnum }}</a></td>
                            <td><a href="{{ lot.link }}">{{ lot.title }}</a></td>
                            <td>{{ lot.price }}</td>
                            <td>{{ lot.city }}</td>
                            <td>{{ lot.start }}</td>
                            <td>{{ lot.finish }}</td>
                            <td><a title="Удалить" href="delete/?lotnum={{ lot.lotnum }}&count={{ forloop.counter }}" class="glyphicon glyphicon-trash"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <hr>
            </div>
        <!-- -->
        <!-- -->
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}