{% load staticfiles %}
<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Центр Безопасность</title>

    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app=""  onload="javascript:orderIcon('{{ order }}')">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-camera"></span>
                Безопасность
            </a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Госзакупки<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="about-us">
                        <li><a href="/zakupki/sistema">Система</a></li>
                        <li><a href="/zakupki/bez">Безопасность</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/help">Помощь</a>
                </li>
                <li>
                    <a href="/contacts/peoples">Сотрудники</a>
                </li>
                <li>
                    <a href="/contacts/divisions">Реквизиты организации</a>
                </li>
            </ul>

            <!-- Search -->
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Поиск">
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
            </form>
            <!--End Search-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="jumbotron feature">
    <div class="container text-center">
        <h1><span class="glyphicon glyphicon-camera"></span> Центр Безопасность</h1>
    </div>
</div>

    {% block content %}{% endblock content %}

<footer>
    <div class="footer-blurb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-blurb-item">
                    <h3><span class="glyphicon glyphicon-equalizer"></span> Региональный Научно-Практический Центр «Система» </h3>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>

    <div class="small-print">
        <div class="container">
            <p><a href="/">Главная</a> | <a href="/help">Помощь</a> | <a href="/contacts/peoples">Контакты</a> | <a href="/contacts/divisions">Реквизиты</a></p>
            <p>Центр Безопасность и ТОО Система &copy; 2016 </p>
        </div>
    </div>
</footer>

{#-- Angular --#}
<script src="{% static "js/angular.min.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

<!-- jQuery -->
<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- IE10 viewport bug workaround -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

<!-- Placeholder Images -->
<script src="{% static "js/holder.min.js" %}"></script>

</body>

</html>