{% extends "base.html" %}
{% block content %}
    <div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">Контакты сотрудников
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->
    </div>
<!-- /.container -->

{% endblock content %}